/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.social-link {
    background-color: darkgray;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.social-link:hover {
    background-color: gray;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
